.container{
    height: 65vh;
    width: 100%;
}
@media screen and  (max-width:1200px) {
    /*normal screen*/
    .container{
        height: 65vh;
        width: 100%;
    }
}
@media screen and (max-width:830px) {
    /* for tablet */
    .container{
        height: 65vh;
        width: 100%;
    }
    
}
@media screen and (max-width:600px){
    /*ipad*/
    .container{
        height: 65vh;
        width: 100%;
    }
}
@media screen and (max-width:450px) {
    /*mobile*/
    .container{
        height: 65vh;
        width: 100%;
    }
    
}

.sub-container1{
    font-size: 15px;
    display: flex;
    margin-left: 100px;
    color: white;
    font-weight: 100;
}
@media screen and  (max-width:1200px) {
    /*normal screen*/
    .sub-container1{
        font-size: 15px;
        display: flex;
        margin-left: 100px;
        color: white;
        font-weight: 100;
    }
}
@media screen and (max-width:830px) {
    .sub-container1{
        font-size: 15px;
        display: flex;
        margin-left: 100px;
        color: white;
        font-weight: 100;
    } 
}

.sub-container2{
    margin-top: 30px;
    margin-left: 400px;
    color: white;
}
/* @media (max-width:1000px) {
    .sub-container2{
        margin-top: 30px;
        margin-left: 400px;
        color: white;
    }
} */

.head{
    font-style: italic;
    font-size: 60px;
    margin-left: -20px;
}
/*@media (max-width:1000px) {
    .head{
        font-style: italic;
        font-size: 60px;
        margin-left: -20px;
    }
}
 @media (width<1200px) {
    .head{
        font-style: italic;
        font-size: 40px;
        margin-left: -40px;
    }
} */

.para{
    font-size: 30px;
    font-style: initial;
    margin-left: -100px;
    margin-top: -30px;
}
.p2{
    font-size: 30px;
    font-style: initial;
    margin-top: -20px;
    margin-left: -20px;
}
.search{
    display: flex;
    width: 55vw;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    background-color: white;
    margin-left: 230px;
    
}
.search input{
    outline: none;
    border: none;
    font-size: 15px;
    padding-left:10px;
}
.search p{
    color: gray;
    border-right: 1px solid gray;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    padding-right: 10px;
} 
.search i:first-child{
    font-size: 20px;
    color: rgb(252,119,119);
    padding-left: 10px;
    padding-right: 10px;
}
.search i{
    color: gray;
    padding-left: 10px;
}
.sub-container3 {
    margin-top: 15px;  
    margin-left: 150px;
} 

.sub-container3 h5{
   font-size: 15px;
   margin-top: -10px;
}
.sub-container3 p{
    font-size: 10px;
    margin-top: -10px;
}

.images p{
    margin-top: -60px;
     margin-left: 130px;
      color: white; 
      font-size: 20px; 
      font-weight: 2em;
}

.images p1{
    margin-left: 140px;
     margin-top: -20px;
      color: white;
}

.container4{
    padding: 10px;
    margin-left: 150px;
}
.container4 h4{
    padding-bottom: -15px;
    margin-top: 10px;
    margin-left: 15px;
    font-size: 18px;
}
.container4 p{
    margin-top: -5px;
    margin-left: 15px;
    font-size: 12px;
    margin-bottom: 5px;
}
.container4 i{
    margin-left: 140px;
}
.card:hover{
    background-color: rgb(244, 244, 248);
}

.link{
    color: black;
    text-decoration: none;
}
.link:hover{
    text-decoration: none;
    color: black;
}
.container5{
    background-color:#f6ecec;
    margin-top: 20px;
}
.container5 img{
    margin-left: 200px; 
    margin-top: 50px;
}

.mobile-app{
   margin-top: 80px;
   margin-left: 50px;
}
.mobile-app form{
    margin-top: 40px;
    font-size: 20px;
}
.mobile-app label{
    padding: 10px;  
    margin-top: -10px;
}
.mobile-app label.input{
    font-size: 14px;
     padding: 8px;
}

.container6 h1{
    font-size: 25px;
    margin: 15px 60px;
}
.container6 h2{
    font-size: 20px;
    margin-left: 60px;
}

.wrap-links {
    margin-left: 60px;
}
.wrap-links a{
    color: gray;
}
.restraunt-chains{
    margin-left: 60px;
    
}
.restraunt-chains a{
    color: gray;
}
.footer-links{
    margin-left: 60px;
}
.footer-links ul{
    display: flex;
}
.footer-links li{
    margin-left: 20px;
    color: gray;
} 
.footer-links a{
    color: gray;
}
.footer{
    background-color: rgb(232, 232, 237);
}
.footer h2{
    font-weight: 4em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    font-style: italic;
    margin-left: 100px;
    padding: 20px;
}
.buttons{
    height: 25%; 
    margin-top: -60px; 
}
.buttons button{
    margin-left: 700px;
}
.buttons button img{
    width: 15px; height: 10px;
}
.items{
    display: flex;
    font-size: 12px;
}
.items .item1{
margin-left: 100px;
}
.items .item1 h5{
    font-size: 15px;
}
.items .item2 {
margin-left: 40px;
}
.items .item2 h5{
    font-size: 18px;
}
.item3{
    margin-left: 40px;
}
.item3 h5{
    font-size: 18px;
}
.item3 button{
    height: 40px;
    width: 125px;
    margin-top:20px;
    background-color: rgb(68, 68, 134);
}
.item3 button i{
margin-left: -100px; 
font-size: 25px;
color: black;
}
.item3 button p{
margin-top: -25px; 
font-size: 10px;
margin-top: -40px;
color: white;
}
.item3 button h3{
margin-top: -25px; 
font-size: 15px;
color: white;
margin-top: -45px;
}

